<app-nav-bar-admin></app-nav-bar-admin>

<form [formGroup]="formulario" (ngSubmit)="subirProyecto()" class="form-proyecto">
    <h1>Editar Proyecto</h1>
    
    <div class="texto" style="width: 100%;">
        <div class="contenido">
            <label>Título del proyecto</label>
            <input formControlName="titulo" type="text">
        </div>
        
    </div>

    <label>Galería de imágenes</label>
    <ngx-dropzone (change)="onSelect($event)" accept="image/*">
        <ngx-dropzone-label>
            <div class="upload-icon">📁</div>
            Añadir nuevas imágenes
        </ngx-dropzone-label>
    </ngx-dropzone>

  <div class="image-preview-container" *ngIf="files.length > 0">
    <div *ngFor="let f of files; let i = index" class="preview-card">
        
        <div *ngIf="esString(f)" class="image-wrapper">
            <img [src]="f | cloudinaryOptimize:2000:2000" class="img-preview">
            <button type="button" class="btn-remove" (click)="onRemove(f)">×</button>
            <span *ngIf="i === 0" class="badge-principal">Portada Web</span>
            <span *ngIf="i === 1" class="badge-principal">Portada Mobile</span>
        </div>

        <ngx-dropzone-image-preview *ngIf="!esString(f)" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>
                <span *ngIf="i === 0" class="badge-principal">Portada Web</span>
                <span *ngIf="i === 1" class="badge-principal">Portada Mobile</span>
                <span class="badge-nuevo" *ngIf="i > 1">Nuevo</span>
            </ngx-dropzone-label>
        </ngx-dropzone-image-preview>
        
    </div>
</div>

    <button type="submit" class="btn" [disabled]="formulario.invalid || files.length === 0">
        @if(!cargando)
        {
            <span> Guardar Cambios</span>
        }
        @if (cargando) {
             <div class="spinner"></div>
        }
       
    </button>
</form>

<app-modal [title]="'Operación exitosa'" #modalSucces [type]="'success'"></app-modal>
<app-modal #modalError [type]="'error'"></app-modal>