.form-proyecto {
    width: 550px; /* Ancho ajustable */
    height: 630px;
    margin: 50px auto; /* Centrar y espacio */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.form-proyecto h1{
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-proyecto .contenido textarea{
    width: 417px;
    height: 100px;
    resize: none;
    font-size: 15px;
}


.form-proyecto .contenido {
    margin-bottom: 15px;
}

.form-proyecto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.form-proyecto input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

button {
    width: 50%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #616568;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #a19b99;
    box-shadow: 0px 6px 10px #cfcfcf;
  }

/* Estilos para ngx-dropzone (puedes necesitar ajustar según tu implementación específica) */
ngx-dropzone {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    width: 500px;
}

ngx-dropzone-preview {
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.image-preview-container {
    display: flex;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan */
    margin-top: 20px;
    max-width: 90%; /* Ajusta el ancho máximo según tus necesidades */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical si aparece */
    white-space: nowrap; /* Evita el salto de línea entre las imagenes */
}
ngx-dropzone-image-preview {
    margin: 5px;
    max-width: 150px;
    flex-shrink: 0;
}

ngx-dropzone-image-preview img {
    width: 100%;
    height: auto;
    display: block;
}