.sobre-mi {
  padding: 120px 20px 80px;
  width: 100%;
  text-align: start;
  height: 80vh;
    display: flex;       
  justify-content: center;  
  align-items: center;   
}
.titulo-sobre-mi {
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: 600;
}

/* CONTENEDOR GENERAL */

.contenedor-sobre-mi {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 25px;

}



/* IMAGEN CHICA */

.img-sobre-mi {
    margin-bottom: 5px;
  width: 135px;
  height: 135px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.texto-sobre-mi {
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

