<section id="sobre-mi" class="sobre-mi">

  <div class="contenedor-sobre-mi">
    <h2 class="titulo-sobre-mi">Sobre mí</h2>
    <img src="img/ColoPresentacion.jpeg" alt="Sobre mí" class="img-sobre-mi">
       <p class="texto-sobre-mi">
     Soy Ignacio Yañez, Diseñador Gráfico e Ilustrador con base en Argentina. Trabajo en proyectos de branding, lettering e ilustración. Desarrollo proyectos tanto para marcas como para piezas culturales y editoriales, cuidando el proceso que da forma al
resultado final. Actualmente enfocado en proyectos de identidad visual, afiches, packaging y sistemas gráficos.
    </p>
  </div>
  
</section>

<app-footer></app-footer>