<app-nav-bar></app-nav-bar>

<section class="sobre-mi">

  <div class="contenedor-sobre-mi">
    <img src="img/about.jpg" alt="Sobre mí" class="img-sobre-mi">
    <p class="texto-sobre-mi">
      ¡Hola! me llamo <strong>Ignacio Yañez</strong>, actualmente vivo en Coronel Vidal (Provincia de Buenos Aires, Argentina). <br>
      Estudié Diseño Gráfico en la escuela de Artes Visuales Martín Malharro ubicada en la ciudad de Mar Del Plata donde también cursé
    primer año de ilustración. Principalmente me gustan los proyectos donde se puedan combinar diseño e ilustración, la busqueda de
    conceptos e ideas como base para un buen desarrollo del proyecto.
    </p>
  </div>
  
</section>

<app-footer></app-footer>