<nav class="nav">
   <div class="nav-left">
    <a href="" class="logo">Ignacio Yañez</a>
    <p class="txt">Diseño/Ilustración</p>
  </div>

  <div class="hamburger" (click)="menuOpen = !menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-right" [class.open]="menuOpen">
    <ul>
      <li><a (click)="irCrearProyecto()">New project</a></li>
      <li><a href="">Projects</a></li>
      <li>
        <a (click)="salir()">
          <img class="login" src="img/logout.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</nav>
