.proyectos {
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 20px;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
    
}


section .carta-proyecto {
    background: white;
    height: 600px;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    display: flex;
    cursor: pointer;
}

section .carta-proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: filter 0.5s ease-in-out;
}

.carta-proyecto:hover {
    transform: translateY(-5px);
}

.carta-proyecto:hover img {
    filter: brightness(0.3); 
}


.carta-proyecto h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.carta-proyecto p {
    font-size: 14px;
    color: #666;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.titulo-overlay {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    color: white;
    font-size: 40px;
    font-weight: bold;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.carta-proyecto:hover .titulo-overlay {
    opacity: 1;
}