<app-nav-bar></app-nav-bar>

<div class="presentacion-hero">

    <img src="img/portada.jpg" alt="Proyectos" class="portada-imagen">
</div>


<section id="proyectos" class="proyectos">
  <div class="container">
     <h2>Proyectos</h2>

    <div class="grid-proyectos">
  @for (item of listaproyectos; track $index) {
    <div class="carta-proyecto" [routerLink]="['/proyecto', item.id]">
      <div class="img-container">
        
        @if (($index % 4 === 0) || ($index % 4 === 2)) {
          <img [src]="item.imagenPrincipal | cloudinaryOptimize:2000:2000" [alt]="item.titulo">
        } 
        @else {
          <img [src]="item.imagenPrincipal | cloudinaryOptimize:2000:2000" [alt]="item.titulo">
        }

        <div class="titulo-overlay">{{ item.titulo }}</div>
      </div>
    </div>
  }
</div>
  </div>
</section>

<app-about-me></app-about-me>
