.contenedor {
    width: 100%;
    margin: 60px auto;
    overflow: hidden;
    color: #222;
}

.titulo {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 80px;
    letter-spacing: -1.5px;
    color: #111;
}

.img-principal, .galeria .imgs {
    width: 100%;
     /* Reducido el margen inferior */
  
}

.full-width-image {
    width: 100%;
    height: 650px; /* Ajustada la altura */
    display: block;
    object-fit: cover;
   
    transition: all 0.3s ease-in-out;
}

.galeria {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px; /* Reducido el margen inferior */
}