/* Contenedor principal */
.admin-projects {
  margin: 100px auto 120px;
  padding: 0 32px;
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 40px;

}

/* Cada carta completa */
.project-card {
  background: white;
  overflow: hidden;
  border: 1px solid rgba(151, 151, 151, 0.281);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
}

/* Imagen */
.image-wrapper {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.project-card:hover img {
  transform: scale(1);
}

/* Contenido debajo de la imagen */
.card-content {
  padding: 24px;
  background: white;
}

.project-title {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.6rem;
  color: #1a1a1a;
}

/* Botones debajo */
.card-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.btn-edit,
.btn-delete {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.btn-edit, .btn-delete {
  background: #ffffff;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.btn-edit:hover {
  transform: translateY(-2px);
}
.btn-delete:hover {
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 768px) {
  .admin-projects {
    padding: 0 16px;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .image-wrapper {
    height: 360px;
  }

  .card-content {
    padding: 20px;
  }

  .btn-edit,
  .btn-delete {
    padding: 12px 16px;
    font-size: 15px;
  }
}