<section class="contact">
  <div class="contenedor-contact">
    <h2 class="titulo-contact">Contacto</h2>
    <div class="links">
      <div class="contact-links">
        <img src="/img/gmailColo.png" alt="Gmail">
         <a href="mailto:ignacioya025&#64;gmail.com">ignacioya025&#64;gmail.com</a>
      </div>

      <div class="contact-links">
        <img src="/img/sinfondo.png" alt="Instagram">
        <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank">ignacio.yanez.dg</a>
      </div>

      <div class="contact-links">
        <img src="/img/behanceColo.png" alt="Behance">
        <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank">ignacioyanez</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>