<app-nav-bar></app-nav-bar>

<section class="contact">

  <div class="contenedor-contact">

    <div class="links">

      <div class="contact-links">
        <img src="img/gmail2.png" alt="">
        <a href="">ignacioya025gmail.com</a>
      </div>

      <div class="contact-links">
        <img src="img/logo-instagram.png" alt="">
        <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank">ignacio.yanez.dg</a>
      </div>

      <div class="contact-links">
        <img src="img/logo-behance.png" alt="">
        <a href="" target="_blank">ignacioyanez</a>
      </div>

    </div>

  </div>
</section>

<app-footer></app-footer>