/* SECCIÓN GENERAL */
.contact {
  padding: 0 20px;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

/* TÍTULO */
.titulo-contact {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

/* CONTENEDOR */
.contenedor-contact {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* LINKS EN FILA */
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 90px;
}

/* CADA ITEM */
.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/* ICONOS */
.contact-links img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* TEXTO */
.contact-links p, a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

/* ⭐ RESPONSIVE – TABLET */
@media (max-width: 900px) {
  .links {
    gap: 40px;
  }

  .contact-links img {
    width: 45px;
    height: 45px;
  }

  .contact-links p {
    font-size: 22px;
  }
}

/* ⭐ RESPONSIVE – CELULAR */
@media (max-width: 600px) {
  .links {
    flex-direction: column;   /* ahora se apilan */
    align-items: start;
    gap: 25px;
  }

  .titulo-contact {
    margin-bottom: 30px;
  }

  .contact-links img {
    width: 40px;
    height: 40px;
  }

  .contact-links p {
    font-size: 18px;
  }
}