<main>
  <section class="contact">
    <div class="contenedor-contact">
      <h1 class="titulo-contact">Contacto</h1>
      <div class="links">
        <div class="contact-links">
          <img src="/img/gmailColo.png" alt="Gmail">
           <a href="mailto:ignacioya025&#64;gmail.com">ignacioya025&#64;gmail.com</a>
        </div>

        <div class="contact-links">
          <img src="/img/sinfondo.png" alt="Instagram">
          <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank" rel="noopener noreferrer">ignacio.yanez.dg</a>
        </div>

        <div class="contact-links">
          <img src="/img/behanceColo.png" alt="Behance">
          <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank" rel="noopener noreferrer">ignacioyanez</a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>