.footer {
    color: white;
    padding: 20px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.048);
}
a{
  cursor: pointer;
}
.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-left .logo {
  font-size: 35px;
  font-weight: 700;
  color:rgba(95, 95, 95, 0.788);
  text-decoration: none;
}
.nav-left .txt{
  color:rgba(95, 95, 95, 0.788);
  font-size: 22px;
} 

footer ul{
    list-style: none;
}

footer ul li{
    margin: 20px;
}

footer .nav-footer ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
    font-weight: 500;
    
}

footer .nav-footer ul li a:hover{
    color: #a19b99;
}


.lg{
    cursor: pointer;
}