<footer id="footer" class="footer">

    <div class="nav-footer">

        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Proyectos</a>
            </li>
            <li>
                <a (click)="irLogin()" class="lg">
                    <img class="login" src="img/login-logo.png" alt="">
                </a>
            </li>
        </ul>
    </div>

    <div class="redes">

        <ul>
            <li>
                <a href="" target="_blank">
                    <img class="img-logo" src="img/logo-behance.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ignacio.yanez.dg/" target="_blank">
                    <img class="img-logo" src="img/logo-instagram.png" alt="">
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img class="img-logo" src="img/logo-instagram.png" alt="">
                </a>
            </li>
        </ul>

    </div>

</footer>
