.footer {
    background-color: #f5f5f5;
    color: white;
    padding: 20px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 20px;
}

footer .nav-footer ul li a{
    font-size: 28px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    
}

footer .nav-footer ul li a:hover{
    color: #a19b99;
}

footer .nav-footer ul li a img.login{
    width: 40px;  /* Ajusta el tama침o del logo */
    height: auto;  /* Mantener la proporci칩n */
    margin-left: 10px;  /* Espaciado a la izquierda del logo */
    cursor: pointer;
}

footer .redes ul li a .img-logo{
    width: 40px;  /* Ajusta el tama침o del logo */
    height: auto;  /* Mantener la proporci칩n */
    margin-left: 10px;  /* Espaciado a la izquierda del logo */
    cursor: pointer;
}

.lg{
    cursor: pointer;
}