<footer id="footer" class="footer">

    <div class="nav-left">
    <a routerLink="/" class="logo">Ignacio Yañez</a>
    <p class="txt">Diseño/Ilustración</p>
    </div>

     <nav class="nav-footer" aria-label="Navegación de pie de página">
        <ul>
            <li>
                <button type="button" (click)="scrollTo('proyectos')">Proyectos</button>
            </li>
            <li>
                <button type="button" (click)="scrollTo('sobre-mi')">Sobre mi</button>
            </li>

            <li>
                <a routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </nav>

</footer>
