/* ---------------- NAV DESKTOP ---------------- */
.nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  padding: 25px;
 box-shadow: 0 2px 1px rgba(0, 0, 0, 0.048);
  position: relative;
  z-index: 100;
}
a{
  cursor: pointer;
}
.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.nav-left .logo {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.nav-left .txt{
  color:rgba(95, 95, 95, 0.788);
  font-size: 22px;
} 

/* UL desktop */
.nav-right ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-right ul li a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 500;
  transition: color .3s ease;
}

.nav-right ul li a:hover {
  color: #7d7d7d;
}

nav div ul li a img.login {
    width: 30px; 
    height: auto;  
    margin-left: 10px;  
    cursor: pointer;
  }

  .nav div ul li .logo-login{
    color: #f5f5f5; ;
    cursor: pointer;}

.hamburger {
  width: 40px;
  height: 32px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  background: #333;
  border-radius: 4px;
  transition: 0.4s;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav-right {
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-in-out;
  }

  .nav-right.open {
    max-height: 280px;
  }

  .nav-right ul {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    gap: 22px;
  }

  .nav-right ul li a {
    font-size: 22px;
  }

  .nav-left .logo {
    font-size: 30px;
  }
}
