<nav class="nav">
  <div class="nav-left">
    <a href="" class="logo">Ignacio Yañez</a>
  </div>

  <!-- Botón hamburguesa -->
  <div class="hamburger" (click)="menuOpen = !menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-right" [class.open]="menuOpen">
    <ul>
      <li><a class="logo-login" (click)="irLogin()">Login</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</nav>
